TF_DO_TOKEN=DIGITALOCEAN_TOKEN_HERE
TF_ACCESS_KEY=ACCESS_KEY_HERE
TF_SECRET_KEY=BUCKET_SECRET_KEY_HERE
TF_BUCKET_ENDPOINT=sfo2.digitaloceanspaces.com
TF_REGION=us-east-1
TF_BUCKET=hashbang-os
TF_KEY=production/terraform.tfstate
